{% extends "home/home.html" %}

{% block homeContent %}
<div class="row">
  <div class="col s12">
    <table class="striped">
      <thead class="table-head ">
        <tr>
          <th>Thứ 2</th>
          <th>Thứ 3</th>
          <th>Thứ 4</th>
          <th>Thứ 5</th>
          <th>Thứ 6</th>
        </tr>
      </thead>
      <tbody class="lop-table-body">
        {% for danhsach in danhSachCuoiCung %}
        <tr>
          <td>MH: {{ danhsach.monhoc.id }}, GV: {{danhsach.monhoc.giangvien}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
